.header-studio {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    align-items: center;

}

.header-portfolio-page2:hover {
    color: #2196F3;
}

.header-email:hover {
    color: #2196F3;
}

.header-studio:hover {
    color: #2196F3;
}

.header-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
    margin-right: 344px;
}

.header-list-2 {
    display: flex;
    gap: 50px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-portfolio:hover {
    color: #2196F3;
}

.header-contacts:hover {
    color: #2196F3;
}

.header-tel:hover {
    color: #2196F3;
}

.header-portfolio {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-contacts {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-tel {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-email {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}


.hero-title {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    max-width: 696px;
}

.hero-button {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    background-color: #2196F3;
    border-radius: 4px;
    padding: 10px 32px;
    border-style: none;
}

.about-subtitle {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}


.hero {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-list {
    display: flex;
    gap: 30px;
}

.about-item {
    display: flex;
    flex-direction: column;
}

.about-list-img {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.about-text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
}

.about-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.about-img {
    width: 370px;
    height: 294px;
}


.team-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.team-item {
    border-radius: 0 0 4px 4px;
    width: 270px;
    height: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.team-img {
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}

.team-subtitle {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 10px;
}

.team-text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
}

.team-list {
    display: flex;
    gap: 30px;
    justify-content: center
}

.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.header-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
}


.header-span {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #000;
}

.footer-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
    margin-bottom: 20px;
}

.footer-span {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #fff;
}

address {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 9px;
    font-style: normal;
}

.footer-tel {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-email {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer {
    background-color: #2F303A;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.main {
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-all {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.main-button:hover {
    background-color: #2196F3;
    color: #fff;
}

.main-web {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.main-addition {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.main-design {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.main-marketing {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

input[type="button"] {
    background-color: #F5F4FA;
}

.main-img {
    width: 370px;
    height: 294px;
}

.main-list-button {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.main-div {
    padding: 20px 24px;
}

.main-subtitle {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.main-text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: #757575;
}

.main-button {
    padding: 6px 25px;
    border-radius: 4px;
    border-style: none;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 60px) / 3);
}

.main-item-button {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.header-studio-page2 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-portfolio-page2 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-studio-page2:hover {
    color: #2196f3;
}