.footer {
  background-color: $color-footer-bg;
  @include section-padding(60px, 60px);

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 70px;
  }


  &__info {
  
  }

  &__logo {
    @extend %logo-shared;
    color: $color-primary;
    margin-bottom: 20px;
    display: block;
  }

  &__logo-accent {
    @extend %logo-shared;
    color: $color-white;
  }

  &__address {
    @include font-roboto(400, 14px, 171%);
    letter-spacing: 0.03em;
    color: $color-white;
    margin-bottom: 9px;
    font-style: normal;
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__contact-link {
    @include font-roboto(400, 14px, 171%);
    letter-spacing: 0.03em;
    color: $color-footer-contact;
    transition: color $transition-base;

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }

  &__social {
    padding-top: 12px;
  }

  &__social-title {
    @extend %section-label;
  }

  &__social-list {
    display: flex;
    gap: 10px;
  }

  &__social-item {
    width: 44px;
    height: 44px;
  }

  &__social-link {
    @extend %social-link;
    background-color: $color-footer-icon-bg;

    &:hover,
    &:focus {
      background-color: $color-primary;
    }
  }

  &__social-icon {
    fill: $color-white;
    transition: fill $transition-base;
  }

  &__subscribe {
    padding-top: 12px;
    margin-left: auto;
  }

  &__subscribe-title {
    @extend %section-label;
  }

  &__subscribe-form {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__subscribe-input {
    @extend %input-base;
    width: 358px;
    height: 50px;
    border: 1px solid $color-footer-input-border;
    background-color: transparent;
    padding: 0 16px;
    font-size: 16px;
    color: $color-white;

    &::placeholder {
      color: $color-footer-contact;
    }
  }

  &__subscribe-btn {
    @include btn-primary;
    @include flex-center;
    gap: 10px;
    padding: 10px 28px;
  }

  &__subscribe-icon {
    fill: $color-white;
  }
}