.portfolio {
  @include section-padding;
  background-color: $color-white;

  &__filter-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }

  &__filter-item {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  &__filter-btn {
    @include font-roboto(500, 16px, 162%);
    letter-spacing: 0.03em;
    text-align: center;
    color: $color-text;
    padding: 6px 25px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: $color-bg-section;
    transition: background-color $transition-base,
      color $transition-base,
      box-shadow $transition-base;

    &:hover,
    &:focus {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }


  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $grid-gap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc((100% - #{$grid-gap * 2}) / 3);
    background: $color-white;
    transition: box-shadow $transition-base;

    &:hover,
    &:focus-within {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

      .portfolio__overlay-text {
        transform: translateY(0);
      }
    }
  }

  &__img-wrap {
    position: relative;
    overflow: hidden;
  }

  &__img {
    width: 370px;
    height: 294px;
  }

  &__overlay-text {
    @extend %overlay-cover;
    padding: 63px 24px;
    @include font-roboto(400, 18px, 156%);
    letter-spacing: 0.03em;
    color: $color-white;
    background-color: $color-overlay-blue;
    transform: translateY(100%);
    transition: transform $transition-base;
  }

  &__info {
    padding: 20px 24px;
    border: 1px solid $color-border-card;
    border-top: none;
    flex-grow: 1;
  }

  &__title {
    @include font-roboto(700, 18px, 200%);
    letter-spacing: 0.06em;
    color: $color-text;
    margin-bottom: 4px;
  }

  &__category {
    @include font-roboto(400, 16px, 187%);
    letter-spacing: 0.03em;
    color: $color-text-secondary;
  }
}