.portfolio {
  padding-top: $spacing-94;
  padding-bottom: $spacing-94;
  background-color: $light-color;

  &__filter {
    @include flex-gap($spacing-8);
    justify-content: center;
    margin-bottom: $spacing-50;
  }

  &__filter-button {
    padding: $spacing-6 $spacing-25;
    border-radius: $border-radius-4;
    border: none;
    cursor: pointer;
    background-color: $gray-light;
    @include roboto($font-weight-medium, $fs-16, $lh-162, $letter-spacing-03, $dark-color);
    @include transitions(background-color, color, box-shadow);

    &:hover,
    &:focus {
      background-color: $primary-color;
      color: $light-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                  0px 1px 2px rgba(0, 0, 0, 0.08),
                  0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &__list {
    @include flex-gap($spacing-30);
    flex-wrap: wrap;
  }

  &__item {
    @include flex-column;
    width: calc((100% - $spacing-60) / 3);
    background: $light-color;
    @include transition(box-shadow);

    &:hover {
      @include box-shadow-card;

      .portfolio__overlay {
        transform: translateY(0);
      }
    }
  }

  &__image {
    width: 370px;
    height: 294px;
  }

  &__image-wrap {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    @include absolute-full;
    padding: $spacing-63 $spacing-24;
    @include roboto($font-weight-light, $fs-18, $lh-156, $letter-spacing-03, $light-color);
    background-color: $overlay-blue;
    transform: translateY(100%);
    @include transition(transform);
  }

  &__content {
    padding: $spacing-20 $spacing-24;
    border: 1px solid #eeeeee;
    border-top: none;
    flex-grow: 1;
  }

  &__title {
    @include roboto($font-weight-bold, $fs-18, $lh-200, $letter-spacing-06, $dark-color);
    margin-bottom: $spacing-4;
  }

  &__description {
    @include roboto($font-weight-light, $fs-16, $lh-187, $letter-spacing-03, $gray-color);
  }
}