.team {
  background-color: $gray-light;
  padding-top: $spacing-94;
  padding-bottom: $spacing-94;

  &__title {
    @include roboto($font-weight-bold, $fs-36, 1, $letter-spacing-03, $dark-color);
    text-align: center;
    margin-bottom: $spacing-50;
  }

  &__list {
    @include flex-gap($spacing-30);
    justify-content: center;
  }

  &__item {
    border-radius: 0 0 $border-radius-4 $border-radius-4;
    width: 270px;
    @include flex-column;
    align-items: center;
    background-color: $light-color;
    padding-bottom: $spacing-30;
    @include transition(box-shadow);

    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }

  &__image {
    width: 270px;
    height: 260px;
    margin-bottom: $spacing-30;
  }

  &__name {
    @include roboto($font-weight-medium, $fs-16, 1, $letter-spacing-03, $dark-color);
    text-align: center;
    margin-bottom: $spacing-10;
  }

  &__position {
    @include roboto($font-weight-light, $fs-16, 1, $letter-spacing-03, $gray-color);
    text-align: center;
    margin-bottom: $spacing-16;
  }
}

.social {
  &__list {
    @include flex-gap($spacing-10);
    justify-content: center;
  }

  &__item {
    width: 44px;
    height: 44px;
  }

  &__link {
    @include flex-center;
    width: 44px;
    height: 44px;
    border-radius: $border-radius-50;
    background-color: transparent;
    @include transition(background-color);

    &:hover,
    &:focus {
      background-color: $primary-color;

      .social__icon {
        fill: $light-color;
      }
    }
  }

  &__icon {
    fill: $gray-icon;
    @include transition(fill);
  }
}