@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font-roboto($weight: 400, $size: 14px, $line-height: null) {
  font-family: $font-roboto;
  font-weight: $weight;
  font-size: $size;
  @if $line-height {
    line-height: $line-height;
  }
}
